/package-info.class
/AnonymousInnerClassTest.class
/TalkingClass.class
/TalkingClass$1.class
/TalkingClock$1.class
/TalkingClock.class
/AnonymousInnerClassTest$1.class
/AnonymousInnerClassTest$2.class
/Main.class
/Bird.class
/Main$1.class
/Main$interfaceDemo.class
/Main$2.class
/Main$FlyT.class
/Main$3.class
/Main$4.class
