/package-info.class
/LambdaTest.class
/test.class
/Java8Tester.class
/MathOperation.class
/Java8Tester$MathOperation.class
/Java8Tester$GreetingService.class
/Greeter.class
/TImedGreeter.class
/TImedGreeter$functionInterface.class
/TImedGreeter$FunctionInterface.class
/TimedGreeter$FunctionInterface.class
/TimedGreeter.class
/TimedGreeter$1.class
/AninymousMethods.class
/AnonymousMethods.class
/MethodReference.class
/MethodReference$1.class
